@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/*
Color palette:

*/


/* Global Styles ----------------------- */
* {
  box-sizing: border-box;
  margin: 2px 3px 5px 5px; /* top right bottom left */
  padding: 10;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

body {
  color: #343434
}

img {
  width: 300px;
}

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}

.page__title {
  letter-spacing: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 180px 0px 25px 100px;
}

.body__text {
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  line-height: 145%;
  padding: 0px 860px 50px 100px;
}

.body__subtitle {
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  line-height: 145%;
  padding: 0px 860px 0px 100px;
}

/* Navigation bar ----------------------- */
header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  align-items: right;
  padding: 30x 10%;
}

.name__link {
  letter-spacing: 2px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

li, a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  text-transform: uppercase;
}

.nav__links li {
  display: inline-block;
  padding: 15px 7px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  color: #0088a9;
}

button {
  padding: 5px 0px 2px 0px;
  border: none;
  background: none;
  vertical-align: -webkit-baseline-middle;
}

#close-image img {
  display: inline-block;
  height: 18px;  
  width: 18px;
}

#close-CSS {
  background-image: url( 'css-portfolio/images/github-mark.png' );
  background-size: 18px 18px;
  height: 18px;  
  width: 18px;
}

/* Home ----------------------- */

.job__title {
  padding: 250px 0px 100px 25px;
  line-height: 115%;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 90px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}


/* Projects ----------------------- */





/* About ----------------------- */
